<div class="faq-container">
    <div class="faq-left">
      <img src="images/innovative lms solutions for seamless learning (1276 x 500 px) (1235 x 766 px).png" alt="faq" width="600px" height="400px">
    </div>
  
    <div class="faq-right">
      <div class="faq-wrapper">
        <div *ngFor="let faq of faqs; let i = index" class="faq">
          <div class="faq-header" (click)="toggleFAQ(i)">
            {{ faq.question }}
            <span class="faq-icon">
              {{ activeIndex === i ? '-' : '+' }}
            </span>
          </div>
          <div class="faq-content" [ngClass]="{ 'show': activeIndex === i }">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  