  <app-navbar></app-navbar> 


<nav *ngIf="authService.isLoggedIn()">
  <a routerLink="/dashboard">Dashboard</a>
  <a *ngIf="authService.getUserRole() === 'admin'" routerLink="/admin">Admin Panel</a>
  <button (click)="openLoginDialog()">Open Login</button>
  <button (click)="authService.logout()">Logout</button>
</nav>
<!-- <app-head></app-head> -->
 <br>
 <!-- <app-head *ngIf="isPageLoaded"></app-head> -->
<router-outlet (activate)="onActivate($event)"></router-outlet>

    <app-footer></app-footer>



   