.container{
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  margin-top: -20px !important;
  width:100%;
  display: flex;
}
/* Main content wrapper to push footer down */
.main-content {
  margin-left: 250px; /* Same width as sidebar */
  min-height: 300px; /* Ensures content expands properly */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 120px;
}
.interest-container {
  background-color: #fdf6f0;
  padding: 2rem;
  border-radius: 10px;
  margin-top: -40px;
  max-width:1200px;
  margin-right:160px;
  flex: 1;
}
/* .sidebar{
  position: fixed;
  margin-top: -60px;
  width: 250px;
  height: 100vh;
  background-color: none;
  padding: 1rem;
  overflow-y: auto;
  margin-right: 0px;
  border-left: 1px solid #ddd;
} */
 
h2, h5 {
  color: #7d9fb8;
}

.input-group input {
  border-radius: 20px;
  padding: 10px;
  background-color: #f7e9e3;
  border: 1px solid #d3bcbc;
}

.badge {
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 12px;
  gap: 8px;
  background-color: #eac7c7;
  color: #5a5a5a;
  position: relative;
}

.badge i {
  font-size: 14px;
  color: #5a5a5a;
  cursor: pointer;
}


.bg-success {
  background-color: #b5d6b2 !important;
  color: #4a634d !important;
}

.bg-primary {
  background-color: #aec6cf !important;
  color: #4a4a4a !important;
}
/* Hide action buttons by default */

.action-icon {
  display: inline;
  font-size: 16px;
  margin-left: 5px; /* Adjust spacing */
}
/* Show icons when hovering over the item */
.interest-item:hover .action-icon,
.suggestion-item:hover .action-icon {
  opacity: 1;
}
.interest-item i,
.suggestion-item i {
  margin-left: 8px;
  cursor: pointer;
}